<div class="center hero-unit">
  <h1>Bienvenido</h1>
  <h4>¿Ya est&aacute;s disfrutanto del maravilloso mundo de SocialBike?</h4>
  <br>
  <%= link_to "Crea tu cuenta gratis!", new_user_path, :class => "btn btn-large btn-primary" %>
  <hr class="btn_crear_cuenta">

  <%= link_to "Login", signin_path, :class => "btn btn-large btn-primary" %>

</div>
