<div class="center hero-unit">
  <h1>Bienvenido</h1>
  <h4>¿Ya estas disfrutanto del maravillo mundo de SocialBike?</h4>
  <br>
  <%= link_to "Crea tu cuenta gratis!", new_user_path, :class => "btn btn-large btn-primary" %>
  <hr class="btn_crear_cuenta">
  <%= link_to "Login", new_user_path, :class => "btn btn-large btn-primary" %>


</div>
