<h2>Rutas cargadas de Wikiloc.com</h2>
<iframe frameBorder="0" src="http://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=4253419&measures=off&title=off&near=off&images=off&maptype=S" width="500px" height="400px">

</iframe>

<iframe frameBorder="0" src="http://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=2362747&measures=off&title=off&near=off&images=off&maptype=S" width="500px" height="400px"></iframe>