<table id="table_invitations_event" class="table">
  <tr>
    <td></td>
    <td><h2>Invitados (<%=  @users.count %>)</h2></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="table_head">
    <td>Nombre</td>
    <td>Email</td>
    <td>Invitado por</td>
    <td>Estado invitación</td>
  </tr>
  <% @users.each do |user| %>
      <tr class="table_body">
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td></td>
        <td></td>

      </tr>

  <% end %>
  <!--<tr>
    <td colspan="3"><%# will_paginate @invitations %></td>
  </tr>-->
</table>