/* universal */

.btn_crear_cuenta{
    border-bottom: 1px solid gray;
    width: 30%;
}

.gravatar{
    padding-left: 75px;
    margin-left: 14%;
}

.changePhoto{
    padding-left: 123px;
}

html {
    overflow-y: scroll;
}

.navbar-inverse .nav > .inicio_menu > li > a:hover {
  /*este es el menu*/
  color: #fff;
  background-color: transparent;
}

body {
    padding-top: 0%;

  .container{
    a{
      img{
        width: 55%;
        margin-top: 2px;
        margin-left: -4%;
      }
    }

  }

  .form_blog_comments{
    .field{
      label{
        margin-left: 30%;
        margin-top: -30px;
      }

      .text_area_bc{
        width: 50%;
        margin-left: 25%;
        margin-top: -20px;
      }

      .btn{
        margin-left: 25%;
        margin-top: -12px;
      }

      hr{
        width: 76%;
        margin-left: 12%;
      }
    }
  }

  .redes{
    float: right;
    margin-right: 20%;
    margin-top: 3%;

    ul{
      list-style: none;
      li{
        a{
          img{
            width: 51%;
          }
        }

      }
    }
  }

  .row {
    padding-right: 2%;
    width: 59%;
    float: left;
    margin-top: 5%;
    border-right: 1px solid gainsboro;

    .span4{

      &:first-child{
        span{
          margin-left: 45px;
        }
      }

      .stats{
        margin-left: 45px;
      }

      .user_avatars{
        a{
          img{
            padding: 0px;
          }
        }
      }
    }
    .span8{
      h3{
        margin-left: 45%;
        margin-top: 80px;
      }
      #table_event
      {
        width: 104%;
        float: right;
        margin-right: -60px;
      }
      .pagination{
        margin-left: 38%;
      }
    }
  }

  #follow_form{

    .unfollow_button{
      color: #333;
      text-shadow: 0 1px 0 rgba(255,255,255,0.9);
      white-space: nowrap;
      background-color: #eaeaea;
      background-image: -moz-linear-gradient(#fafafa, #eaeaea);
      background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
      background-image: linear-gradient(#fafafa, #eaeaea);
      border: 1px solid #ddd;
      border-bottom-color: #c5c5c5;
      box-shadow: 0 1px 3px rgba(0,0,0,0.05);
      margin-bottom: -25px;
    }

    .follow_button{
      background: url("eye.png") no-repeat;
      color: white;
      background-color: rgb(48, 114, 179);
      background-image: linear-gradient(rgb(89, 155, 205), rgb(48, 114, 179));
      border-color: rgb(42, 101, 160);
      margin-bottom: -25px;
    }

    .unfollow_button, .follow_button{
      position: relative;
      display: inline-block;
      padding: 7px 15px;
      font-size: 13px;
      font-weight: bold;
      background-repeat: repeat-x;
      border-radius: 3px;
      vertical-align: middle;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-appearance: none;
    }
  }

  .blog_comments{
    width: 65%;
    margin-left: 18%;
    table{
      tr{

        td{
          padding: 10px;
          background: lightgrey;

          &:nth-child(2n){
            background: #eee;
            padding: 15px;
          }
        }
      }
    }
  }

  .show_blog{
    width: 65%;
    margin-left: 18%;
  }

  .show_event{
    margin-left: 33%;
  }

  .show_event, .show_blog{
    margin-top: 3%;
    border: 1px solid #333;
    border-radius: 35px;
    margin-right: 399px;

    .table_show_event, .table_show_blog{
      color: #669;
      width: 101%;

      tr{
        border-bottom: 1px solid #333;

        td{
          padding: 10px;
          padding-left: 30px;

          h2{
            margin-top: 30px;
          }
        }
      }
    }

    a{
      margin-left: 86px;
    }
  }

  .feed_event{
    text-align: center;

    .events{
      list-style: none;

      .table_feed_event{
        width: 85%;
        margin-left: 6%;
        border: 1px solid lightgrey;
        border-radius: 55px;

        tr{
          background: lightgrey;

          td{
            padding-top: 0px;
          }
          .foto_user_event{
            padding-top: 31px;
          }

          .info_event{
            padding-top: 50px;
          }

          .descripcion{
            padding-top: 44px;

            .description_span{

              h5{
                margin-bottom: 0px;
                margin-left: -74px;
              }

              textarea{
                border: 1px solid #bbb;
                width: 161%;
                padding: 10px;
                margin-bottom: 15px;
                height: 100px;
                max-width: 235px;
              }
            }
          }
          .complement{
            background: lightgrey;
            width: 425px;
            li{
              margin-right: -66px;
            }
          }
        }
      }
    }
  }

  #event_date {
    width: 18%;
  }

  #event_estado{
    width: 25%;
  }
  .ui-datepicker-trigger{
    float: right;
    margin-right: 77%;
    margin-top: 3px;
  }

  .section_perfil_event{
    margin-left: 100px;
  }

  .section_blog_form{

    .field{
      #blog_content{
        width: 59%;
      }
    }
  }

  .section_event_form, .section_blog_form
  {
    margin-left: 35%;

    h2{
      margin-left: -81%;
    }
    input{
      width: 500px;
    }

    #event_description{
      width: 500px;
      height: 150px;
    }

    #table_add_inv{
      margin-top: -25px;

      .invitation{
        .movimiento_nested{

          ul{
            list-style: none;
            margin-top: -50px;
          }

          img{
            width: 25px;
          }
        }
      }

    }
    .add_user{
      img{
        margin-top: -8px;
      }
    }
  }
  .nombre_enew{
    height: 0px;
    padding-top: 21px;
  }

  .foto_events_new{
    padding-right: 30px;
  }

  .buscador{
    width: 30%;
    margin-left: 14%;
  }

  .apple_pagination {

    background: rgb(211, 204, 204);
    border: 1px solid rgb(197, 192, 192);
    text-align: center;
    padding-top: 7px;
    cursor: default;
    width: 70%;
    margin-left: 14%;
    border-radius: 100px;
  }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
  }
  .apple_pagination .disabled {
    color: #aaaaaa;
  }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  .apple_pagination a {
    text-decoration: none;
    color: black;
  }
  .apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
  }
  #table_invitations
  {
    width: 80%;
    margin-left: 10%;

    h2{
      margin-left: 35%;
    }
  }

  #table_invitations_event
  {
    width: 80%;
    margin-left: 12%;
    h2{
      margin-left: 15%;
    }
  }

  #table_blog{
    position: absolute;
    width: 42%;
    float: right;
    margin-top: 20px;
    margin-right: 108px;
  }

  #table_event
  {
    width: 42%;
    float: right;
    margin-right: 108px;
  }

  .table{

    margin-top: 20px;
    border-spacing: 0;
    background: #ffffff;
    margin-left: 70px;
    .table_head{
      td{
        border-bottom: 3px solid rgb(29, 196, 22);
        text-align: left;
        font-size: 15px;
        font-weight: normal;
        color: rgb(29, 196, 22);
        padding: 10px 8px;

      }
    }
    .table_body{
      color: #669;
      .btn_primary_danger{
        color: rgb(179, 54, 48);
      }

      &:hover{
        background: #002E74;
        color: #ffffff;
        a{

          &:hover{
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      td{

        .btn_primary, .btn_primary_option, .minibutton{
          color: #333;
        }
        .btn_primary_danger, .minibutton_danger{
          color: rgb(179, 54, 48);
        }

        border-bottom: 1px solid #CCC;
        padding: 6px 8px;
        a{
          text-decoration: none;
          color: #669;
        }

      }
    }
  }

  .button_group{
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    position: relative;
    z-index: 3;
    ul{
      -webkit-padding-start: 0;
      li{
        list-style: none;
        display: table-cell;

        .minibutton{
          padding: 0 10px;
          display: block;
          text-align: center;
          line-height: 20px;
          text-decoration: none;
          position: relative;
          color: #333;
          text-shadow: 0 1px 0 rgba(255,255,255,0.9);
          white-space: nowrap;
          background-color: #eaeaea;
          background-image: -moz-linear-gradient(#fafafa, #eaeaea);
          background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
          background-image: linear-gradient(#fafafa, #eaeaea);
          background-image: -ms-linear-gradient(#fafafa, #eaeaea);
          background-repeat: repeat-x;
          border: 1px solid #ddd;
          border-bottom-color: #c5c5c5;
          box-shadow: 0 1px 3px rgba(0,0,0,0.075);
          vertical-align: middle;
          cursor: pointer;
          &:hover{
            color: rgb(255, 255, 255);
            text-decoration: none;
            text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
            background-color: rgb(48, 114, 179);
            background-image: -webkit-linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            background-image: -moz-linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            background-image: linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            border-color: rgb(42, 101, 160);
            background-repeat: repeat no-repeat;
          }

          &:active{
            background-color: rgb(48, 114, 179);
            background-image: none;
            border-color: rgb(37, 88, 140);
            box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px inset;
          }

        }
        &:first-child a{
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child .minibutton, .minibutton_danger{
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        .minibutton{
          padding: 0 10px;
          display: block;
          text-align: center;
          line-height: 20px;
          text-decoration: none;
          position: relative;
          color: #333;
          text-shadow: 0 1px 0 rgba(255,255,255,0.9);
          white-space: nowrap;
          background-color: #eaeaea;
          background-image: -moz-linear-gradient(#fafafa, #eaeaea);
          background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
          background-image: linear-gradient(#fafafa, #eaeaea);
          background-image: -ms-linear-gradient(#fafafa, #eaeaea);
          background-repeat: repeat-x;
          border: 1px solid #ddd;
          border-bottom-color: #c5c5c5;
          box-shadow: 0 1px 3px rgba(0,0,0,0.075);
          vertical-align: middle;
          cursor: pointer;
          &:hover{
            color: rgb(255, 255, 255);
            text-decoration: none;
            text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
            background-color: rgb(48, 114, 179);
            background-image: -webkit-linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            background-image: -moz-linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            background-image: linear-gradient(top, rgb(89, 155, 205), rgb(48, 114, 179));
            border-color: rgb(42, 101, 160);
            background-repeat: repeat no-repeat;
          }

          &:active{
            background-color: rgb(48, 114, 179);
            background-image: none;
            border-color: rgb(37, 88, 140);
            box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px inset;
          }
        }
        .minibutton_danger{
          color: rgb(179, 54, 48);
          padding: 0 10px;
          line-height: 20px;
          display: block;
          text-shadow: 0 1px 0 rgba(255,255,255,0.9);
          white-space: nowrap;
          background-color: #eaeaea;
          background-image: -moz-linear-gradient(#fafafa, #eaeaea);
          background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
          background-image: linear-gradient(#fafafa, #eaeaea);
          background-image: -ms-linear-gradient(#fafafa, #eaeaea);
          background-repeat: repeat-x;
          border: 1px solid #ddd;
          border-bottom-color: #c5c5c5;
          box-shadow: 0 1px 3px rgba(0,0,0,0.075);
          vertical-align: middle;
          cursor: pointer;

          &:hover{
            color: rgb(255, 255, 255);
            text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px;
            background-color: rgb(179, 54, 48);
            background-image: -webkit-linear-gradient(top, rgb(220, 95, 89), rgb(179, 54, 48));
            background-image: -moz-linear-gradient(top, rgb(220, 95, 89), rgb(179, 54, 48));
            background-image: linear-gradient(top, rgb(220, 95, 89), rgb(179, 54, 48));
            border-color: rgb(205, 80, 74);
            background-repeat: repeat no-repeat;

          }

          &:active{
            color: rgb(255, 255, 255);
            background-color: rgb(179, 54, 48);
            background-image: none;
            border-color: rgb(159, 49, 44);
          }
        }
      }
    }
  }
}

section {
    overflow: auto;
}

.video{
  float: left;
  padding-left: 0%;
  box-shadow: 10px 10px 8px #333;
}

textarea {
    resize: vertical;
}

.center {
    //text-align: center;
}

.center h1 {
    margin-bottom: 0%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}
.contenido{

    .alert{
      text-align: center;
      width: 50%;
      margin-left: 23%;
      font-size: 25px;
    }
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid black;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: left;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

/* user show page */

table.profile {
    width: 86%;
    margin-bottom: 0;
    margin: 5.5%;
    margin-bottom: 2px;
}

td.main{
    width: 70%;
    padding: 1em;
}

td.sidebar{
  width: 40%;
  padding: 1em;
  vertical-align: top;
  background: #C0C0C0;
  border-radius: 8px;

  .followers_following{
    margin-top: 70px;
  }
  a{
    img{
      width: 8%;
      padding: 3px;
    }
  }
}

.profile img.gravatar{
    border: 1px solid #999;
    margin-bottom: -15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

input {
    height: auto !important;
}

/* users index */

.users {
    list-style: none;
    margin-left: 100px;
    padding: 60px;

  .gravatar_index{
    padding-left: 0px;
    margin-left: -20%;
  }

  a{
    float: right;
  }

  li {
    overflow: auto;
    padding: 0px 0;
    border-bottom: 1px solid white;

    &:last-child{
      border-bottom: 1px solid white;
    }
  }
}

#footer{
  width: 100%;
  height: 120px;


  img{
    width: 100%;
    margin-top: -10%;
  }
/*

  .box1 .box2{

    width: 40%;
    height: 116px;

  }

  .box1{
    float: left;
    margin-top: 22px;
    margin-left: 125px;

    .img-rounded{
      margin-top: 1px;
    }

    ul{
      list-style: none;

      li{
        text-decoration: none;
        text-align: left;
        font-size: 17px;
        color: #726f6f;
        a{
          color: #726f6f;
          &:hover{
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
  .box2{
    float: right;
    margin-right: 200px;
    border-left: 1px groove white;

    .trochas_lost_img{
      width: 90px;
      margin-right: -107px;
      margin-left: 66px;
    }

    .img-rounded{
      margin-top: 1px;
    }

    ul{
      list-style: none;

      li{
        text-decoration: none;
        text-align: left;
        font-size: 15px;
        color: rgb(114, 111, 111);
      }
    }
  }
  */

}
  /*
  #footers{
    clear: both;
    background: url("complete_footer.png") left top repeat-x;
    height: 170px;
    background-color: white;
    padding-bottom: 0px;
    margin-top: 60px;

    .footer1{
      border-left: 10px red;
      color: black;

      ul{
        list-style: none;
        border-left: 2px white;
        border-color: white;
        padding-left: 190px;
        padding-top: 50px;
        font-size: 16px;
      }
      a{
        text-align: left;

        display: block;
        color: white;
      }

    }
  }
  */








