/* universal */

.btn_crear_cuenta{
    border-bottom: 1px solid gray;
    width: 30%;
}

.gravatar{
    padding-left: 75px;
    margin-left: 14%;
}

.changePhoto{
    padding-left: 123px;
}

html {
    overflow-y: scroll;
}

.navbar-inverse .nav > .inicio_menu > li > a:hover {
  /*este es el menu*/
  color: #fff;
  background-color: transparent;
}

body {
    padding-top: 0%;

  .buscador{
    width: 30%;
    margin-left: 14%;
  }

  .apple_pagination {

    background: rgb(211, 204, 204);
    border: 1px solid rgb(197, 192, 192);
    text-align: center;
    padding-top: 7px;
    cursor: default;
    width: 70%;
    margin-left: 14%;
    border-radius: 100px;
  }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
  }
  .apple_pagination .disabled {
    color: #aaaaaa;
  }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  .apple_pagination a {
    text-decoration: none;
    color: black;
  }
  .apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
  }
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    //text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}
.contenido{

    .alert{
      text-align: center;
      width: 50%;
      margin-left: 23%;
      font-size: 25px;
    }
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}


/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid black;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: left;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

/* user show page */

table.profile {
    width: 80%;
    margin-bottom: 0;
    margin-left: 4.5%;
}

td.main{
    width: 70%;
    padding: 1em;
}

td.sidebar{
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #C0C0C0;
  border-radius: 8px;
}

.profile img.gravatar{
    border: 1px solid #999;
    margin-bottom: -15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

input {
    height: auto !important;
}

/* users index */

.users {
    list-style: none;
    margin-left: 100px;
    padding: 60px;

  .gravatar_index{
    padding-left: 0px;
    margin-left: -20%;
  }

  a{
    float: right;
  }

  li {
    overflow: auto;
    padding: 0px 0;
    border-bottom: 1px solid white;

    &:last-child{
      border-bottom: 1px solid white;
    }
  }
}

  #footers{
    clear: both;
    background: url("complete_footer.png") left top repeat-x;
    height: 170px;
    background-color: white;
    padding-bottom: 0px;
    margin-top: 60px;

    .footer1{
      border-left: 10px red;
      color: black;

      ul{
        list-style: none;
        border-left: 2px white;
        border-color: white;
        padding-left: 190px;
        padding-top: 50px;
        font-size: 16px;
      }
      a{
        text-align: left;

        display: block;
        color: white;
      }

    }
  }








